.scene {
  height: 500px;
  width: 500px;
  perspective: 500px;
  background-color: #1b1b1b;
  border: 2px solid red;
  border-radius: 6px;
}

.prism {
  margin: 100px 150px 100px 150px;
  position: relative;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -173px);
  transition: 2s;
}

.prism-face {
  position: absolute;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.face-front,
.face-back,
.face-left-front,
.face-right-front,
.face-left-back,
.face-right-back {
  line-height: 300px;
  width: 200px;
  height: 300px;
}

.face-top,
.face-bottom {
  top: -23px;
  height: 346px;
  width: 200px;
  line-height: 346px;
}

.face-top::before,
.face-bottom::before,
.face-top::after,
.face-bottom::after {
  content: "";
  position: absolute;
  border-bottom: 173px solid transparent;
  border-top: 173px solid transparent;
}

.face-top::before {
  right: 100%;
  border-right: 100.35px solid #0f69afaa;
}

.face-top::after {
  left: 100%;
  border-left: 100.35px solid #0f69afaa;
}

.face-bottom::before {
  right: 100%;
  border-right: 100.35px solid #2dbcbdaa;
}

.face-bottom::after {
  left: 100%;
  border-left: 100.35px solid #2dbcbdaa;
}

.face-front {
  transform: rotateY(0deg) translate3d(0, 0, 173px);
  background-color: #2dbdbcaa;
}

.face-back {
  transform: rotateY(180deg) translate3d(0, 0, 173px);
  background-color: #ffc832aa;
}

.face-left-front {
  transform: rotateY(-60deg) translate3d(0, 0, 173px);
  background-color: #149b5faa;
}

.face-left-back {
  transform: rotateY(-120deg) translate3d(0, 0, 173px);
  background-color: #149b5faa;
}

.face-right-front {
  transform: rotateY(60deg) translate3d(0, 0, 173px);
  background-color: #e61e50aa;
}

.face-right-back {
  transform: rotateY(120deg) translate3d(0, 0, 173px);
  background-color: #e61e50aa;
}

.face-top {
  transform: rotateX(90deg) translate3d(0, 0, 150px);
  background-color: #0f69afaa;
}

.face-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 150px);
  background-color: #2dbdbcaa;
}
